@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                @*<h1>@ViewBag.Title.</h1>*@
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Notre projet porte sur les Travailleurs, et leur(s) lien(s) avec les Entreprises.
                <p><b>TODO: check date début < fin, catch exception doublon/erreur/...</b></p>
            </p>
        </div>
    </section>
}
<h2>Bienvenue sur le site la société Medit.</h2>
<ol class="round">
    <li class="one">
        <h5>Travailleur</h5>
        Il est possible d'ajouter, modifier et supprimer les travailleurs.
    </li>

    <li class="two">
        <h5>Entreprise</h5>
        Les entreprises ne peuvent qu'être listées et utilisées lors de l'ajout d'un lien travailleur/entrerise.
    </li>

    <li class="three">
        <h5>Travailleur/Entreprise</h5>
        Permet de lier un travailleur à une entreprise.
    </li>
</ol>
